.parent {
  display: flex;
  justify-content: space-around;
  height: 400px;
  width: 100vw;
  position: relative;
  margin-top: 100px;
  background-color: rgba(4, 50, 55, 0.649);
}
.background {
  background-image: url(../../../src/assets/images/background.jpg);
  background-repeat: no-repeat;
}
.text-element {
  display: flex;
    flex-direction: column;
}
.text-element h2 {
  color: white;
  text-shadow: 2px 3px rgba(36, 36, 36, 0.4);
}
.text-element p {
  color: white;
  text-shadow: 2px 3px rgba(25, 25, 25, 0.4);
}
.image-element {
  min-width: 30%;
  bottom: 0;
  transition: all 0.5s ease-out;
}
.brightness {
  filter: brightness(0.8);
}
/* From uiverse.io by @Ali-Tahmazi99 */
button {
  display: inline-block;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #66b2de !important;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in;
  z-index: 1;
}

button::before,
button::after {
  content: '';
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
  transform: skew(15deg);
  transition: all 0.5s;
  overflow: hidden;
  z-index: -1;
}

button::before {
  left: -10px;
  background: #339fb2;
}

button::after {
  right: -10px;
  background: #0a5b62;
}

button:hover::before,
button:hover::after {
  width: 58%;
}

button:hover span {
  color: #1f8051;
  transition: 0.3s;
}

button span {
  color: #03045e;
  font-size: 18px;
  transition: all 0.3s ease-in;
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 300px) {
  .parent {
    margin-top: 0px;
  }
  .text-element h2 {
    font-size: 28px;
    padding: 5px;
    color: rgb(255, 255, 255);
  }
.text-element p {
    color: white;
    font: 24px;
      padding: 5px;
  }
  .text-element {
  margin-top: 40px
  }
  .image-element {
    left: 10%;
    min-width: 50%;
    bottom: 0;
  }

  .image-element img {
    max-height: 70%;
    position: relative;
    top: 30%;
    right: 30px;
    transition: all 0.5s ease-out;
  }
}
@media (min-width: 576px) {
  .text-element h2 {
    text-align: left;
    font-size: 32px;
    padding: 0px;
    color: white;
  }

  .text-element {
    margin: 10px;
    font-size: 20px;
  }
  .image-element img {
    position: relative;
    max-height: 90%;
    top: 10%;
    bottom: 0;
    right: 5%;
    transition: all 0.5s ease-out;
  
}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .parent {
    margin-top: 0px;
  }
  .text-element {
    margin: 20px;
    font-size: 18px;
  }
  .image-element img {
    position: relative;
    max-height: 100%;
    top: 0%;
    bottom: 0;
    left: 20%;
    transition: all 0.5s ease-out;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .parent {
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 1920px;
  }
  .text-element {
    margin: 20px;
    font-size: 25px;
  }
  .image-element img {
    position: relative;
    max-height: 110%;
    top: -10%;
    bottom: 0;
    left: 15%;
    transition: all 0.5s ease-out;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .parent {
    margin-top: 75px;
    margin-bottom: 75px;
  }
                                                                                                  
  .text-element h2 {
    font-size: 52px;
    color: white;
  }
    .text-element p {
    color: white;
    font-size: 32px;
  }
  .image-element img {
    max-height: 120%;
    left: 15%;
    top: -20%;
    bottom: 0;
    position: relative;
    object-fit: contain;
  }
}
