.HeaderBox {
  display: flex;
  justify-content: space-evenly;
  height: 500px;
  align-items: center;
background-color: rgb(255, 255, 255);
}

.HeaderBoxImage img {
  border-radius: 50%;
  height: 400px;
}
.HeaderText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--cardBgColor);
}

.HeaderText h2 {
  font-size: 64px;
  font-weight: 800;
  color: var(--cardBgColor);
  text-align: center;
  text-shadow: 3px 3px 7px #030a2c;
}

.Header-Button {
  background-color: rgba(17, 76, 83, 0.748);
  width: 200px;
}

.Header-Button:hover {
  background-color: rgba(17, 76, 83, 0.956);
}

.Header-Button:active {
  background-color: rgba(3, 38, 42, 0.956) !important;
}
/* Small devices (landscape phones, 576px and up) */

@media (min-width: 300px) {
  .HeaderBox {
    flex-wrap: wrap;
    flex-direction: column;
    height: 400px;
  }

  .HeaderText h2 {
    font-size: 32px;

  }

  .HeaderBoxImage img {
    height: 200px;
  }
}

@media (min-width: 576px) {
  .HeaderText h2 {
    font-size: 32px;

  }

  .HeaderBoxImage img {
    height: 250px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .HeaderText h2 {
    font-size: 42px;

  }

  .HeaderBoxImage img {
    height: 300px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .HeaderText h2 {
    font-size: 50px;

  }

  .HeaderBoxImage img {
    height: 350px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .HeaderBox {
    display: flex;
    justify-content: space-around;
    height: 500px;
    width: 80vw;
    align-items: center;
    background-color: rgb(255, 255, 255);
  }

  .HeaderBoxImage img {
    border-radius: 50%;
    height: 400px;
  }

  .HeaderText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--cardBgColor);
  }

  .HeaderText h2 {
    font-size: 64px;
    font-weight: 800;
    color: var(--cardBgColor);
    text-align: center;
    text-shadow: 3px 3px 7px #030a2c;
  }
}