.city-tour-reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
        width: 100vw;
        margin-left: auto;
        margin-right: auto;
}

.review-box {
    background-color: #1e828fb7;
    border: 1px solid #ddd;
    padding: 20px;
    width: 300px;
    height: 250px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.user-image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
}

.rating {
    font-size: 24px;
    margin-bottom: 10px;
}

.review-text {
    font-size: 18px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .city-tour-reviews {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 5px;
        width: 100vw;
        margin-left: auto;
        margin-right: auto;
    }

    .review-box {
        background-color: #1e828fb7;
        border: 1px solid #ddd;
        padding: 20px;
        width: 250px;
        height: 250px;
        margin: 0px;
        text-align: center;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
    }

    .user-image img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-bottom: 10px;
        object-fit: cover;
    }

.rating {
font-size: 24px;
    margin-bottom: 10px;
}

.review-text {
font-size: 16px;
}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .city-tour-reviews {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 100vw;
    }

    .review-box {
        background-color: #1e828fb7;
        border: 1px solid #ddd;
width: 225px;
        height: 250px;
        margin: 0px;
        text-align: center;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        padding: 5px;
        }
        
        .user-image img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin-bottom: 10px;
            object-fit: cover;
        }
        
        
        .rating {
            font-size: 24px;
            margin-bottom: 10px;
        }
        
        .review-text {
            font-size: 18px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .city-tour-reviews {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 60px;
        width: 100vw;
        margin-left: auto;
        margin-right: auto;
    }

.review-box {
    background-color: #1e828fb7;
    border: 1px solid #ddd;
    padding: 20px;
    width: 300px;
        height: 250px;
        margin: 10px;
        text-align: center;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
    }
.user-image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
}

.rating {
    font-size: 24px;
    margin-bottom: 10px;
}

.review-text {
    font-size: 18px;
}
}
